<aside class="ls-sidebar">
  <nav class="ls-menu">
    <ul>

      <li>
          <%= link_to 'Painel Inicial', dashboard_index_path , class: "ls-ico-dashboard" %>
      </li>

      <li class="ls-submenu">
        <a class="ls-ico-book" href=""> Livros </a>
            <ul>
                <li><a class="ls-submenu-item" href=""> Autor </a></li>
           </ul>
            <ul>
                <li><a class="ls-submenu-item" href=""> Categorias </a></li>
           </ul>
           <ul>
                <li><a class="ls-submenu-item" href=""> Emprestados </a></li>
           </ul>
           <ul>
                <li><%= link_to 'Listar Livros', books_path, class: "ls-submenu-item" %></li>
           </ul>
      </li>

      <li class="ls-submenu">
        <a class="ls-ico-users" href="">  Usuários </a>
        <ul>
           <li><a class="ls-submenu-item" href=""> Lista de Usuários </a></li>
        </ul>
      </li>

      <li class="ls-submenu">
        <a class="ls-ico-chart-bar-up" href="">  Relatórios </a>
        <ul>
           <li><a class="ls-submenu-item" href=""> Livros Cadastrados </a></li>
        </ul>
        <ul>
           <li><a class="ls-submenu-item" href=""> Livros Emprestados </a></li>
        </ul>
      </li>

      <li >
        <a class="ls-ico-user-add" href="">  Administradores </a>
       </li>


      <li class="ls-submenu">
        <a class="ls-ico-cog" href="">  Configurações </a>
        <ul>
           <li><%= link_to 'Configurações do Painel', settings_path, class: "ls-submenu-item" %></li>
        </ul>
        <ul>
           <li><%= link_to 'Dados do servidor SMTP', smtp_settings_path, class: "ls-submenu-item" %></li>
        </ul>
      </li>

    </ul>
  </nav>
</aside>


