 <div class="container-fluid">
      <h1 class="ls-title-intro ls-ico-cog">Configurações</h1>

<form action="" class="ls-form row">
  <fieldset>

   <label class="ls-label col-md-5">
      <b class="ls-label-text">Nome do site</b>
      <input type="text" name="rua" placeholder="O nome do site" required >
   </label>
    <label class="ls-label col-md-3">
      <b class="ls-label-text">Título do site</b>
          <input type="text" name="title" placeholder="Escreva o título do site" required >
    </label>
    <label class="ls-label col-md-4">
      <b class="ls-label-text">Dominio</b>
      <input type="text" name="domain" placeholder="Escreva seu Dominio" required >
    </label>
     <label class="ls-label col-md-4">
      <b class="ls-label-text">URL</b>
      <input type="text" name="url" placeholder="Escreva sua URL" required >
    </label>
    <label class="ls-label col-md-4">
      <b class="ls-label-text">Email</b>
      <input type="text" name="email" placeholder="Escreva seu email" required >
    </label>
  </fieldset>

   <div class="ls-actions-btn">
    <button class="ls-btn">Salvar</button>
    <button class="ls-btn-danger">Excluir</button>
  </div>
  </form>
 </div>