<h1 class="ls-title-intro ls-ico-book">Livros</h1>


<% @books.each do |book| %>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <small><%= link_to book.title, book %></small>
      <%=  book.author %>
    </div>
    <div class="col-md-3 ls-txt-right">
            <%= link_to 'Editar', edit_book_path(book) , class: "ls-btn-primary" %>
    </div>
  </header>
</div>

<% end %>

<div class="ls-pagination-filter ">
     <%= link_to 'Novo Livro', new_book_path(@book) , class: "ls-btn-darker" %>
</div>



