<div class="container-fluid">
      <h1 class="ls-title-intro ls-ico-book">Cadastrar livro</h1>

<form action="" class="ls-form row">
  <fieldset>
    <label class="ls-label col-md-3">
      <b class="ls-label-text">Nome</b>
          <input type="text" name="nome" placeholder="Nome e sobrenome" required >
    </label>
    <label class="ls-label col-md-4">
      <b class="ls-label-text">E-mail</b>
      <input type="text" name="email" placeholder="Escreva seu email" required >
    </label>
    <label class="ls-label col-md-5">
      <b class="ls-label-text">Rua</b>
      <input type="text" name="rua" placeholder="O nome da sua rua" required >
   </label>

    <label class="ls-label col-md-6">
      <b class="ls-label-text">Descricao</b>
      <textarea rows="4"></textarea>
      <p class="ls-helper-text">Preencha informações adicionais do seu cliente. Ex.: Dados de contato, endereço, etc.</p>
    </label>


  </fieldset>


   <div class="ls-actions-btn">
    <button class="ls-btn">Salvar</button>
    <button class="ls-btn-danger">Excluir</button>
  </div>
  </form>
 </div>